<footer class="footer">

  <div class="footer__tabs">
    <a href="#" class="footer__tab footer__tab--active">Everything</a>
    <a href="#" class="footer__tab">Videos</a>
    <a href="#" class="footer__tab">Memes</a>
    <a href="#" class="footer__tab">Listicles</a>
    <a href="#" class="footer__tab">Images</a>
    <a href="#" class="footer__tab">Gist</a>
    <a href="#" class="footer__tab">Quizzes</a>
  </div>

  <div class="footer__bottom">
    <div class="footer__search">
      <form class="form">
        <input type="text" class="form__field form__field--sm" placeholder="Search">
      </form>
    </div>

    <div class="footer__links">
      <a href="#" class="footer__link">Login</a>
      <a href="#" class="footer__link">Create Account</a>
    </div>
  </div>
</footer>
