<footer class="footer">

  <div class="footer__tabs">
    <a href="/" class="footer__tab footer__tab--active">Everything</a>
    <% categories.forEach(function(category) { %>
    <a href="/category/<%= category.slug %>" class="footer__tab"><%= category.name %></a>
    <% }) %>
  </div>

  <div class="footer__bottom">
    <div class="footer__search">
      <form action="search" method="get" class="form search-header-form">
        <input type="text" name="term" class="form__field form__field--sm" placeholder="Search" tabindex="-1">
      </form>
    </div>

    <div class="footer__links">
      <a href="/login" class="footer__link">Login</a>
      <a href="/register" class="footer__link">Create Account</a>
    </div>
  </div>
</footer>
