<ul class="pagination">
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">Previous</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">1</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">...</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">4</a></li> 
    <li class="pagination__item pagination__item--active"><a href="#" class="button button--sm">5</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">6</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">...</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">12</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">Next</a></li> 
</ul>