<ul class="pagination card">
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">Previous</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">...</a></li> 
    <li class="pagination__item pagination__item--active"><a href="#" class="button button--sm">1</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">2</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">3</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">...</a></li> 
    <li class="pagination__item"><a href="#" class="button button--clear button--sm">Next</a></li> 
</ul>