<aside class="sidebar">

  <!-- Follow Zikoko -->
  <div class="sidebar__section">
    <a href="http://facebook.com/zikokomag" target="_blank"
       class="button button--icon-right button--md button--facebook button--full-width">
      <span class="button__text">Like Zikoko on Facebook</span>
      <span class="button__icon"><i class="ion-social-facebook"></i></span>
    </a>
  </div>
  <div class="sidebar__section">
    <a href="http://twitter.com/zikokomag" target="_blank"
       class="button button--icon-right button--md button--twitter button--full-width">
      <span class="button__text">Follow Zikoko on Twitter</span>
      <span class="button__icon"><i class="ion-social-twitter"></i></span>
    </a>
  </div>

  <!-- Featured Posts -->
  <div class="card sidebar__section">
    <article class="post-excerpt post-excerpt--sm">
      <a href="post.html">
        <figure>
          <img class="post-excerpt__img" src="http://cdn.pmnewsnigeria.com/wp-content/uploads/2011/01/Mr-Ibu.jpg">
        </figure>
        <h3 class="post-excerpt__title">Are You Suffering From Over-Nigerianness?</h3>
      </a>
    </article>
  </div>

  <!-- Subscribe -->
  <div class="sidebar__section card">
    <div class="subscribe-form">
      <h3 class="subscribe-form__title">Subscribe to our Newsletter</h3>
      <p class="subscribe-form__subtitle">Get the best posts from Zikoko in your inbox every week.</p>
      <form class="form form--spacing-sm">
        <div class="form__group">
          <label class="sr-only">Email Address</label>
          <input class="form__field" type="email" placeholder="Email Address">
        </div>
        <div class="form__action">
          <button class="button button--icon-right button--full-width button--md ">
            <span class="button__text">Subscribe</span>
            <span class="button__icon"><i class="ion-android-drafts"></i></span>
          </button>
        </div>
      </form>
    </div>
  </div>

</aside>
