<aside class="sidebar">
  <div class="sidebar__section">
    <a href="#" class="button button--icon-left button--md button--facebook button--full-width">
                    <span class="button__icon">
                        <i class="ion-social-facebook"></i>
                    </span>
      <span class="button__text">Like Zikoko on Facebook</span>
    </a>
  </div>
  <div class="sidebar__section">
    <a href="#" class="button button--icon-left button--md button--twitter button--full-width">
                    <span class="button__icon">
                        <i class="ion-social-twitter"></i>
                    </span>
      <span class="button__text">Follow Zikoko on Twitter</span>
    </a>
  </div>
  <div class="card sidebar__section">
    <article class="post-excerpt post-excerpt--sm">
      <a href="post.html">
        <figure>
          <img class="post-excerpt__img" src="http://cdn.pmnewsnigeria.com/wp-content/uploads/2011/01/Mr-Ibu.jpg">
        </figure>
        <h3 class="post-excerpt__title">Are You Suffering From Over-Nigerianness?</h3>
      </a>
    </article>
    <article class="post-excerpt post-excerpt--sm">
      <a href="post.html">
        <figure>
          <img class="post-excerpt__img" src="https://media.giphy.com/media/139foopOcMG1IA/giphy-facebook_s.jpg">
        </figure>
        <h3 class="post-excerpt__title">All The Times Girls Wish They Could Have Been Boys</h3>
      </a>
    </article>
    <article class="post-excerpt post-excerpt--sm">
      <a href="post.html">
        <figure>
          <img class="post-excerpt__img" src="https://i.onthe.io/vllkyt2sh84tr8uig.804aa9c3.jpg">
        </figure>
        <h3 class="post-excerpt__title">Struggles Every Bachelor Can Relate With</h3>
      </a>
    </article>
  </div>
  <div class="sidebar__section card">
    <div class="subscribe-form">
      <h3 class="subscribe-form__title">Subscribe to our Newsletter</h3>
      <p class="subscribe-form__subtitle">Get the best posts from Zikoko in your inbox every week.</p>
      <form class="form form--spacing-sm">
        <div class="form__group">
          <label class="sr-only">Email Address</label>
          <input class="form__field" type="email" placeholder="Email Address">
        </div>
        <div class="form__action">
          <button class="button button--md button--full-width">
            Subscribe
          </button>
        </div>
      </form>
    </div>
  </div>
</aside>
