

<aside class="sidebar">

  <!-- Follow Zikoko -->
  <div class="sidebar__section">
    <a href="http://facebook.com/zikokomag" target="_blank"
       class="button button--icon-right button--md button--facebook button--full-width">
      <span class="button__text">Like Zikoko on Facebook</span>
      <span class="button__icon"><i class="ion-social-facebook"></i></span>
    </a>
  </div>
  <div class="sidebar__section">
    <a href="http://twitter.com/zikokomag" target="_blank"
       class="button button--icon-right button--md button--twitter button--full-width">
      <span class="button__text">Follow Zikoko on Twitter</span>
      <span class="button__icon"><i class="ion-social-twitter"></i></span>
    </a>
  </div>

  <div class="sidebar__section">
    <%- partial('./ad.ejs', { adType: 'sidebar' }) %>
  </div>

  <!-- Subscribe -->
  <%- partial('../components/newsletter.ejs') %>

</aside>
