<aside class="sidebar">

  <!-- Follow Zikoko -->
  <div class="sidebar__section sidebar__section--card sidebar__section--wrap">
    <div class="sidebar__section">
      <a href="http://facebook.com/zikokomag" target="_blank" class="button button--md button--facebook button--full-width">
        <span class="button__text">Like Zikoko on Facebook</span>
      </a>
    </div>
    <div class="sidebar__section">
      <a href="http://twitter.com/zikokomag" target="_blank" class="button button--twitter button--md button--full-width">
        <span class="button__text">Follow Zikoko on Twitter</span>
      </a>
    </div>
  </div>

  <!-- Subscribe -->
  <%- partial('../components/newsletter.ejs') %>

  <div class="sidebar__section sidebar__section--card sidebar__section--ad">
    <%- partial('../components/ad-sidebar.ejs') %>
  </div>
</aside>
