<% if ( currentUser) { %>
<% if ( currentUser.id === post.author.id ) { %>
<form action="/post/delete" method="post" class="post__actions">

  <!-- Hidden field, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">

  <button type="submit" class="post-action post-action--delete button button--no-pad button--clear" class="post-action">
    <span class="post-action-icon post-action-icon--delete"></span> Delete this post
  </button>

</form>
<% } %>
<% } else { %>
<form action="/post/like" method="post" class="post__actions js-likePostForm">

  <!-- Hidden field, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">

  <button type="submit" class="post-action button button--no-pad button--clear">
    <span class="post-action-icon post-action-icon--like"></span>
    <span>Like</span>
  </button>

</form>
<% } %>
