<form action="/post/likePost" method="post" class="post-excerpt__actions">

  <!-- Hidden fields, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">

  <button type="submit" class="post-excerpt__action button button--no-pad button--clear">
    <span class="post-excerpt__action-icon post-excerpt__action-icon--like"></span> Like
  </button>
  <a href="/post/<%= post.id %>#comments" class="post-excerpt__action button button--no-pad button--clear">
    <span class="post-excerpt__action-icon post-excerpt__action-icon--comment"></span> Comment
  </a>
</form>
