<form action="/post/likePost" method="post" class="post__actions">

  <!-- Hidden field, don't touch -->
  <input type="hidden" name="post_id" value="<%= post.id %>">

  <button type="submit" class="post__action button button--no-pad button--clear">
    <span class="post__action-icon post__action-icon--like"></span>
    <span>Like</span>
  </button>
  <!-- <a href="/post/<%= post.id %>#comments" class="post__action button button--no-pad button--clear"> -->
    <!-- <span class="post__action-icon post__action-icon--comment"></span> Comment -->
  <!-- </a> -->
</form>
