<%
  for (var i = 1; i < post.blocks.length + 1; i++) {
    var block = post.blocks.find(function(block) {
      return block.order === i;
    }) %>

  <div class="post__item">
    <h3 class="post__item-title">
      <% if (block.show_number) { %><%= block.number %>. <% } %>
      <% if (block.heading) { %><%= block.heading %><% } %>
    </h3>

    <% if (block.embed) { %>
    <%- partial('./image.ejs', { url: block.embed.url, placement: 'post' }) %>
    <% } %>

    <% if (block.additional_text) { %>
    <p class="post__item-subtitle"><%= block.additional_text %></p>
    <% } %>
  </div>

<% } %>


