<div class="post-modal post-modal--delete">
	<h3 class="post-modal__title">Delete Post</h3>
	<p class="post-modal__body">Are you sure you want to delete this post ?</p>
	<div>
		<button class="button button--md button--google" onclick="closeDeletePost()">Delete</button>
		<button class="button button--md button--clear" onclick="closeDeletePost()">Cancel</button>
	</div>
</div>