<div class="post-excerpt__share">
  <a href="#" class="post-excerpt__share-item post-excerpt__share-item--facebook">
    <span class="sr-only">Facebook</span>
    <i class="ion-social-facebook"></i>
  </a>
  <a href="#" class="post-excerpt__share-item post-excerpt__share-item--twitter">
    <span class="sr-only">Twitter</span>
    <i class="ion-social-twitter"></i>
  </a>
  <a href="#" class="post-excerpt__share-item">
    <span class="sr-only">Email</span>
    <i class="ion-email"></i>
  </a>
  <a href="#" class="post-excerpt__share-item post-excerpt__share-item--pinterest">
    <span class="sr-only">Pinterest</span>
    <i class="ion-social-pinterest"></i>
  </a>
</div>

<div class="post-excerpt__share-mobile">
  <a href="#" class="post-excerpt__share-item post-excerpt__share-item--facebook">
    <span class="sr-only">Facebook</span>
    <i class="ion-social-facebook"></i>
  </a>
  <a href="#" class="post-excerpt__share-item post-excerpt__share-item--twitter">
    <span class="sr-only">Twitter</span>
    <i class="ion-social-twitter"></i>
  </a>
  <a href="#" class="post-excerpt__share-item">
    <span class="sr-only">Email</span>
    <i class="ion-email"></i>
  </a>
  <a href="#" class="post-excerpt__share-item post-excerpt__share-item--pinterest">
    <span class="sr-only">Pinterest</span>
    <i class="ion-social-pinterest"></i>
  </a>
</div>
