<!-- Kachi Fix Styling -->
<div class="ad-container container" style="float: left; margin-bottom: 24px;">
  <div class="ad ad--instream" style="width: 100%; height: 250px; display: flex; justify-content: center; align-items: center;">
    Ad Zone 2
  </div>
</div>
