<div class="ad-container container">
  <div class="ad ad--sidebar">
    <!-- /24669334/zkk_sidebar -->
    <div id='div-gpt-ad-1496408391672-2'>
      <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1496408391672-2'); });
      </script>
    </div>
  </div>
</div>
