<div class="sidebar__section card">
  <div class="subscribe-form">
    <h3 class="subscribe-form__title">Subscribe to our Newsletter</h3>
    <p class="subscribe-form__subtitle">Get the best posts from Zikoko in your inbox every week.</p>
    <form class="form form--spacing-sm">
      <div class="form__group">
        <label class="sr-only">Email Address</label>
        <input class="form__field" type="email" placeholder="Email Address">
      </div>
      <div class="form__action">
        <button class="button button--icon-right button--full-width button--md ">
          <span class="button__text">Subscribe</span>
          <span class="button__icon"><i class="ion-android-drafts"></i></span>
        </button>
      </div>
    </form>
  </div>
</div>
