<!DOCTYPE html>
<html>
  <head>
    <meta name="charset" content="UTF-8">
    <title><%= title || 'Zikoko' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- metaData || '' %>

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#7C439D">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/site-icons/site-icon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/site-icons/site-icon-48.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/images/site-icons/site-icon-128.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/images/site-icons/site-icon-256.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Ire">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/site-icons/site-icon-152.png">

    <meta name="msapplication-TileColor" content="#7C439D">
    <meta name="msapplication-TileImage" content="/images/site-icons/site-icon-144.png">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->

    <%- partial('./partials/scripts.ejs') %>
  </head>
  <body>

    <script type="text/javascript">
      var _sf_async_config = { uid: 65234, domain: 'zikoko.com', useCanonical: true };
      (function() {
        function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
          document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>

    <!-- FACEBOOK SDK -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <!-- PAGE BODY -->
    <%- body %>
    <!-- END PAGE BODY -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/auth.js"></script>
    <script src="/js/infinite-scroll.js"></script>
    <script src="/js/main.js"></script>
    <!--SCRIPTS END-->

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    <script type="text/javascript">
      var tag = document.createElement('script');
      tag.id = 'iframe-demo';
      tag.src = 'https://www.youtube.com/iframe_api';
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('youtube-iframe', {
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
        });
      }
      function onPlayerReady(event) {
        document.getElementById('youtube-iframe').style.borderColor = '#FF6D00';
      }
      function changeBorderColor(playerStatus) {
        var color;
        if (playerStatus == -1) {
          color = "#37474F"; // unstarted = gray
        } else if (playerStatus == 0) {
          color = "#FFFF00"; // ended = yellow
        } else if (playerStatus == 1) {
          color = "#33691E"; // playing = green
        } else if (playerStatus == 2) {
          color = "#DD2C00"; // paused = red
        } else if (playerStatus == 3) {
          color = "#AA00FF"; // buffering = purple
        } else if (playerStatus == 5) {
          color = "#FF6DOO"; // video cued = orange
        }
        if (color) {
          document.getElementById('youtube-iframe').style.borderColor = color;
        }
      }
      function onPlayerStateChange(event) {
        changeBorderColor(event.data);
      }
    </script>
  </body>
</html>
