<!DOCTYPE html>
<html>
  <head>
    <meta name="charset" content="UTF-8">
    <title><%= title || 'Zikoko' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- metaData || '' %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->

    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/main.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
