<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>

<div class="zkk-site-wrap u-flex u-center-align">

  <div class="zkk-main">

    <div class="profile-edit card">
      <div class="profile__tabs">
        <a href="/me/profile" class="profile__tab">
          Edit Profile
        </a>
        <a href="/me/password" class="profile__tab profile__tab--active">
          Change Password
        </a>
      </div>

      <form class="profile-edit__form form">

        <div class="form__group">
          <label class="form__label">Old Password</label>
          <input class="form__field" />
        </div>

        <div class="form__group">
          <label class="form__label">New Password</label>
          <input class="form__field" />
        </div>

        <div class="form__group">
          <label class="form__label">Confirm New Password</label>
          <input class="form__field" />
        </div>

        <div class="form__action">
          <button class="button button--form button--md">Change Password</button>
        </div>
      </form>
    </div>
  </div>

  <%- partial('./partials/sidebar.ejs') %>
</div>
