<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>

<div class="zkk-site-wrap u-flex u-center-align">

  <div class="zkk-main">

    <div class="profile-edit card">
      <nav class="profile__tabs">
        <a href="/me/profile" class="profile__tab profile__tab--active">Edit Profile</a>
        <a href="/me/password" class="profile__tab">Change Password</a>
      </nav>

      <form action="/me/profile" method="post" class="profile-edit__form form">

        <div class="form__group u-flex">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAXdAAAAJDdkNTcwYzE0LTUyMGMtNDZlYi04MWY0LTdiNTE1NzMxNmI5NQ.jpg" class="profile__img">
          <div>
            <input type="file" name="image">
            <p class="form__hint">PNG, JPG or GIF with size 2MB or less</p>
          </div>
        </div>

        <div class="form__group">
          <label class="form__label" for="username">Username</label>
          <input type="text" id="username" name="username" class="form__field">
        </div>

        <div class="form__group">
          <label class="form__label" for="email">Email Address</label>
          <input type="email" id="email" name="email" class="form__field">
        </div>

        <div class="form__action">
          <button type="submit" class="button button--form button--md">Update Profile</button>
        </div>
      </form>
    </div>
  </div>

  <%- partial('./partials/sidebar.ejs') %>
</div>
