<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>
<div class="content">
    <div class="container container--flex container--no-pad">
        <main>
            <div class="profile-edit card">
                <nav class="profile__tabs">
                    <a href="/me/profile" class="profile__tab">Edit Profile</a>
                    <a href="/me/password" class="profile__tab profile__tab--active">Change Password</a>
                </nav>
                <form action="/me/password" method="post" class="profile-edit__form form">
                    <div class="form__group">
                        <label class="form__label" for="old_password">Old Password</label>
                        <input class="form__field" type="password" id="old_password" name="old_password">
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="password">New Password</label>
                        <input class="form__field" type="password" id="password" name="password">
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="password_confirmation">Confirm New Password</label>
                        <input class="form__field" type="password" id="password_confirmation" name="password_confirmation">
                    </div>
                    <div class="form__action">
                        <button type="submit" class="button button--form button--md">Change Password</button>
                    </div>
                </form>
            </div>
        </main>
        <%- partial('./partials/sidebar-min.ejs') %>
    </div>
</div>
