<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>

<div class="content">
  <div class="container container--no-pad">

    <div class="form-page card">
      <div class="form-page__inner form-page__inner--form">

        <div class="form-page__heading">
          <h2 class="form-page__title">New Post</h2>
          <p class="form-page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit incididunt ut labore.</p>
        </div>

        <form action="/new" method="post" enctype="multipart/form-data" class="form form-page__form form--no-label">
          <div class="form__group">
              <div class="form__image-field">
                  <div class="form__image-prompt">
                      <div class="form__image-prompt-icon">
                          <i class="ion-upload"></i>
                      </div>
                      <span class="form__image-prompt-text">Choose an image</span>
                  </div>
                  <img src="" class="form__image-uploaded" aria-hidden="true">
                  <div class="form__image-file-and-label">
                      <input type="file" id="postImage" name="postImage" class="form__image-file" accept="image/*">
                      <label for="postImage" class="form__image-label"></label>
                  </div>
              </div>
          </div>

          <div class="form__group">
            <textarea name="description" class="form__field" rows="3" placeholder="Description"></textarea>
          </div>

          <div class="form__group">
            <input name="tags" class="form__field" placeholder="Tags, e.g #lol #omg #naija" />
          </div>

          <div class="form__action">
            <button class="button button--md button--full-width" type="submit">
              <span class="button__text">Upload Post</span>
            </button>
          </div>
        </form>
      </div>

      <div class="form-page__inner form-page__inner--loading form-page__inner--hidden">
          <div class="form-page__loading">
              <div class="loading-spinner">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>

              <div class="loading-text">Uploading your post</div>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
    var image = document.querySelector('.form__image-uploaded');
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                image.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    document.getElementById("postImage").addEventListener('change', function(){
        readURL(this);
    });

    // show loading screen
    var uploadButton = document.querySelector('.button--upload');
    var form = document.querySelector('.form-page__inner--form');
    var loading = document.querySelector('.form-page__inner--loading');

    document.querySelector('.form-page__form').onsubmit = function(e){
        form.classList.add('form-page__inner--hidden');
        loading.classList.remove('form-page__inner--hidden');
    };
</script>


