<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>

<div class="zkk-site-wrap">
  <div class="zkk-main zkk-main--full-width">

    <div class="form-page card">
      <div class="form-page__inner">

        <div class="form-page__heading">
          <h2 class="form-page__title">New Post</h2>
          <p class="form-page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit incididunt ut labore.</p>
        </div>

        <form action="/new" method="post" class="form form-page__form form--no-label">
          <div class="form__group">
            <div class="form__drag-and-drop">
                <div class="form__drag-and-drop-icon">
                    <i class="ion-upload"></i>
                </div>
                <input class="form__drag-and-drop-file" type="file" name="postImage" id="postImage"/>
                <label for="postImage" class="form__drag-and-drop-label">
                    <strong>Choose a file</strong> <span class="show-if-dnd-enabled">or drag it here</span>.
                </label>
            </div>
          </div>

          <div class="form__group">
            <textarea name="description" class="form__field" rows="3" placeholder="Description"></textarea>
          </div>

          <div class="form__group">
            <input name="tags" class="form__field" placeholder="Tags, e.g #lol #omg #naija" />
          </div>

          <div class="form__action">
            <button class="button button--md button--full-width" type="submit">
              <span class="button__text">Upload Post</span>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
    var isAdvancedUpload = function() {
      var div = document.createElement('div');
      return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
    }();

    if (isAdvancedUpload) {
        var $dndField = $('.form__drag-and-drop');
        $dndField.addClass('form__drag-and-drop--has-advanced-upload');
        var $label = $('.form__drag-and-drop-label');

        var droppedFiles = false;

        $dndField.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
            e.preventDefault();
            e.stopPropagation();
        })
        .on('dragover dragenter', function() {
            $dndField.addClass('is-dragover');
        })
        .on('dragleave dragend drop', function() {
            $dndField.removeClass('is-dragover');
        })
        .on('drop', function(e) {
            droppedFiles = e.originalEvent.dataTransfer.files;
            $label.text(droppedFiles[0].name);
        });
    }
</script>


