<%- partial('./partials/header.ejs', { includeFeedFilter: true }) %>

<div class="zkk-site-wrap zkk-site-wrap--with-mobile-feed-filter u-flex u-center-align">
  <div class="zkk-main">
    <% posts.forEach(function(post) { %>
      <%- partial('./post/excerpt.ejs', { post: post }) %>
    <% }) %>
  </div>
  <%- partial('./partials/sidebar.ejs') %>
</div>

<%- partial('./partials/footer.ejs') %>
