<header class="zkk-header">
  <div class="container u-flex u-center-align u-vertical-align">
    <a href="/" class="zkk-logo">
      <h1 class="sr-only">Zikoko</h1>
      <img src="/images/logo.svg" class="zkk-logo__img">
    </a>
  </div>
</header>

<div class="zkk-site-wrap u-flex u-center-align">
  <div class="zkk-main zkk-main--full-width">
    <div class="form-page card">

      <div class="form-page__inner">

        <div class="form-page__heading">
          <h2 class="form-page__title">Reset Password</h2>
          <p class="form-page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit incididunt ut labore.</p>
        </div>

        <form class="form form-page__form form--no-label">

          <div class="form__group">
            <label class="sr-only">Email Address</label>
            <input class="form__field" placeholder="Email Address" />
          </div>

          <div class="form__action">
            <button class="button button--md button--full-width">
              <span class="button__text">Reset Password</span>
            </button>
          </div>
        </form>

        <div class="form-page__footer">
          <p><a href="/login" class="form-page__link">Remember your password?</a></p>
        </div>
      </div>

    </div>
  </div>
</div>

