<header class="header header--logo-centered">
    <div class="container">
        <a href="/">
            <h1 class="sr-only">Zikoko</h1>
            <span class="logo">
                <svg class="logo__icon" viewBox="0 0 145 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>logo</title><desc>Created using Figma</desc><g transform="translate(515 257)" figma:type="canvas"><mask id="a"><path d="M-515-257h145v36h-145v-36z" fill="#FFF"/></mask><g style="mix-blend-mode:normal" mask="url(#a)" figma:type="frame"><g style="mix-blend-mode:normal" figma:type="vector" transform="translate(-514.312 -256.594)" fill="#7C439D"><use xlink:href="#b" style="mix-blend-mode:normal"/><use xlink:href="#c" style="mix-blend-mode:normal"/><use xlink:href="#d" style="mix-blend-mode:normal"/><use xlink:href="#e" style="mix-blend-mode:normal"/><use xlink:href="#f" style="mix-blend-mode:normal"/><use xlink:href="#g" style="mix-blend-mode:normal"/></g></g></g><defs><path id="b" d="M8.203 28.875h14.063v5.72H.14v-4.15L14.063 6.21H0V.47h22.008v4.053L8.203 28.875z"/><path id="c" d="M32.953 24.094h-5.508L26.672.47h7.055l-.774 23.624zm-6.398 7.29c0-.517.086-.993.258-1.43.17-.454.414-.837.726-1.15.31-.327.68-.585 1.12-.773.45-.18.96-.28 1.52-.28.54 0 1.04.1 1.47.28.45.19.83.45 1.15.78.31.31.55.7.72 1.15.17.44.255.92.255 1.43 0 .52-.086.99-.258 1.43-.175.44-.417.82-.73 1.15-.315.32-.7.56-1.15.73-.44.19-.93.28-1.48.28-.56 0-1.07-.09-1.52-.28-.436-.17-.81-.41-1.124-.72-.31-.324-.554-.71-.725-1.15-.174-.433-.26-.91-.26-1.43z"/><g id="fullIcon"><path id="d" d="M48.633 21.422l-2.72 3.422v9.75h-6.89V.47h6.89v14.88l2.18-3.68L54.446.47h8.438l-9.774 15 9.937 19.124h-8.18l-6.234-13.172z"/><path id="e" d="M88.922 20.602c0 2.39-.297 4.492-.89 6.304-.594 1.813-1.43 3.32-2.51 4.524-1.06 1.203-2.35 2.11-3.866 2.718-1.5.61-3.164.914-4.992.914-1.828 0-3.5-.304-5.016-.914-1.515-.61-2.82-1.515-3.914-2.718-1.078-1.203-1.92-2.71-2.53-4.524-.595-1.812-.89-3.914-.89-6.304V14.93c0-2.453.295-4.61.89-6.47.593-1.874 1.43-3.437 2.507-4.687 1.08-1.25 2.38-2.187 3.9-2.812C73.12.32 74.79 0 76.62 0c1.83 0 3.49.32 4.99.96 1.51.626 2.81 1.563 3.89 2.813 1.09 1.25 1.934 2.813 2.53 4.688.59 1.86.89 4.02.89 6.47v5.68zm-6.914-5.72c0-1.624-.117-3.007-.352-4.148-.234-1.156-.578-2.1-1.03-2.836-.454-.734-1.017-1.273-1.69-1.617-.67-.34-1.444-.51-2.32-.51-.89 0-1.67.17-2.343.52-.67.35-1.234.89-1.687 1.62-.453.74-.797 1.68-1.03 2.84-.236 1.14-.353 2.53-.353 4.15v5.71c0 1.55.117 2.88.352 3.99.234 1.097.578 1.99 1.03 2.698.47.7 1.04 1.22 1.712 1.544.687.328 1.476.49 2.367.49.875 0 1.64-.164 2.297-.492.68-.326 1.24-.842 1.69-1.545.46-.704.79-1.6 1.01-2.696.24-1.11.35-2.44.35-3.985v-5.72z"/><path id="f" d="M103.477 21.422l-2.72 3.422v9.75h-6.89V.47h6.89v14.88l2.18-3.68L109.29.47h8.437l-9.774 15 9.938 19.124h-8.18l-6.23-13.172z"/><path id="g" d="M143.766 20.602c0 2.39-.297 4.492-.89 6.304-.595 1.813-1.43 3.32-2.51 4.524-1.06 1.203-2.35 2.11-3.866 2.718-1.5.61-3.164.914-4.992.914-1.828 0-3.5-.304-5.016-.914-1.515-.61-2.82-1.515-3.914-2.718-1.078-1.203-1.922-2.71-2.53-4.524-.595-1.812-.892-3.914-.892-6.304V14.93c0-2.453.297-4.61.89-6.47.595-1.874 1.43-3.437 2.51-4.687 1.077-1.25 2.374-2.187 3.89-2.812C127.96.32 129.632 0 131.46 0c1.83 0 3.493.32 4.993.96 1.516.626 2.813 1.563 3.89 2.813 1.095 1.25 1.938 2.813 2.532 4.688.594 1.86.89 4.02.89 6.47v5.68zm-6.914-5.72c0-1.624-.118-3.007-.352-4.148-.234-1.156-.578-2.1-1.03-2.836-.454-.734-1.017-1.273-1.69-1.617-.67-.34-1.444-.51-2.32-.51-.89 0-1.67.17-2.343.52-.672.35-1.234.89-1.687 1.62-.453.74-.797 1.68-1.032 2.84-.234 1.14-.35 2.53-.35 4.15v5.71c0 1.55.116 2.88.35 3.99.235 1.097.58 1.99 1.032 2.698.468.7 1.04 1.22 1.71 1.544.688.328 1.477.49 2.368.49.875 0 1.64-.164 2.297-.492.672-.326 1.234-.842 1.687-1.545.453-.704.79-1.6 1.008-2.696.234-1.11.352-2.44.352-3.985v-5.72z"/></g></defs></svg>
            </span>
        </a>
    </div>
</header>

<div class="content">
  <div class="container container--no-pad">
    <div class="form-page card">

      <div class="form-page__inner">

        <div class="form-page__heading">
          <h2 class="form-page__title">Reset Password</h2>
          <p class="form-page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit incididunt ut labore.</p>
        </div>

        <form class="form form-page__form form--no-label">

          <div class="form__group">
            <label class="sr-only">Email Address</label>
            <input class="form__field" placeholder="Email Address" />
          </div>

          <div class="form__action">
            <button class="button button--md button--full-width">
              <span class="button__text">Reset Password</span>
            </button>
          </div>
        </form>

        <div class="form-page__footer">
          <p><a href="/login" class="form-page__link">Remember your password?</a></p>
        </div>
      </div>

    </div>
  </div>
</div>

