<h1>Sign In</h1>

<form action="/sign-in" method="post">
  <input type="text" placeholder="Email Address"><br>
  <input type="password" placeholder="Password"><br>
  <button>Sign In</button>
</form>

<a href="/signup">Create an account</a>
