<header class="header header--logo-centered">
    <div class="container">
        <a href="/">
            <h1 class="sr-only">Zikoko</h1>
            <span class="logo">
                <%- partial('./components/icons/header/logo.ejs') %>
            </span>
        </a>
    </div>
</header>

<div class="content">
  <div class="container container--no-pad">
    <div class="form-page card">

      <div class="form-page__inner">
        <div class="form-page__heading">
          <h2 class="form-page__title">Welcome back!</h2>
          <p class="form-page__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit incididunt ut labore.</p>
        </div>

        <form action="/login" method="post" class="form form-page__form form--no-label">
          <div class="form__group">
            <input type="email" name="identifier" class="form__field" placeholder="Email Address" value="timi@helloworld.ng">
          </div>
          <div class="form__group">
            <input type="password" name="password"  class="form__field" placeholder="Password" value="ultimateproductionpassword">
          </div>
          <div class="form__action">
            <button class="button button--md button--full-width" type="submit">
              <span class="button__text">Sign In</span>
            </button>
          </div>
        </form>

        <div class="form-page__footer">
          <p>Don't have an account yet? <a href="/register" class="form-page__link">Create account</a>.</p>
          <p><a href="/reset-password" class="form-page__link">Forgot your password?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

