<h1>Sign Up</h1>

<% if (locals.error) { %>
  Error: <%= locals.error %>
<%  } %>


<form action="/register" method="post">
  <input type="text" name="email" placeholder="Email Address" value="ireoluwa@test.com"><br>
  <input type="password" name="password" placeholder="Password" value="password"><br>
  <input type="password" name="password_confirmation" placeholder="Confirm Password" value="password"><br>
  <button type="submit">Sign Up</button>
</form>

<a href="/login">Sign In</a>
