<%- partial('./partials/header.ejs', { includeFeedFilter: false }) %>

<header>
  <h1>User: @<%= user.username %></h1>
  <p><%= user.role %></p>
</header>

<% posts.forEach(function(post) { %>
<%- partial('./post/excerpt.ejs', { post: post }) %>
<% }) %>
