.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 925px;
    width: 100%;
    position: relative;

    @include screen(med){
        max-width: 100%;
        position: relative;
        padding: 0 15px;
    }

    &--full{
        max-width: 100%;
        padding: 0 20px;

        @include screen(tiny){
        	padding: 0 15px;
        }
    }
}