$main-column-width: 600px;
$main-column-margin: 25px;
$sidebar-width: 300px;


$ad-leaderboard-width: 728px;
$ad-leaderboard-height: 90px;
$ad-sidebar-width: 300px; 
$ad-sidebar-height: 250px; 

// New variables // Leaving old ones in until everything is changed so they don't break

$font: 'Proxima Nova', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
$fontAlt:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;

// Colors
$purple: #7C439D;
$black: #111;
$grey: #666;
$greyLight: #999;
$borderColor: #e8e8e8;

$facebookBlue: #3B5998;
// $googleRed: #BD081C;
$googleRed: #E00313;
// $twitterBlue: #00ACEE;
$twitterBlue: #1ea1f3;
$pinterestRed: #BD081C;

//Dimensions
$headerHeight: 48px;
$tabHeight: 36px;