/* @todo Styles for adverts*/

.ad {
    background-color: orange;
    border-radius: 3px;
}

.ad--leaderboard {
    width: $ad-leaderboard-width;
    height: $ad-leaderboard-height;
    margin: 0 auto 24px;
    max-width: 100%;
}

.ad--sidebar {
    height: $ad-sidebar-height;
    width: $ad-sidebar-width;
    margin: auto;
}

.ad--instream {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
