.footer{
	background-color: whitesmoke;
	border-top: 1px solid $borderColor;
	display: none;
	box-shadow:0 -2px 2px -2px rgba(0,0,0,.15);
	font-size: 1.4rem;
	margin-top: 24px;

	&__tabs{
		display: flex;
		overflow-x: scroll;
		border-bottom: 1px solid #eaeaea;
	}

	&__tab{
		padding: 15px;
		color: $color-grey-mid;

		&--active{
			color: $color-black;
		}
	}

	&__bottom{
		display: flex;
		align-items: center;
	}

	&__links{
		display: flex;
		align-items: center;
	}

	&__link{
		padding: 0 15px;
		display: inline-block;
	}

	&__search{
		padding: 15px;
		// width: 40%;
		flex-grow: 1;
	}

	@include screen(tiny){
		display: block;
	}
}