.pagination{
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 24px;
	display: flex;
	justify-content: center;
	background-color: white;
	border: 1px solid $borderColor;

	@include screen(small){
		margin-bottom: 0;
		border-radius: 0;
		border-left: none;
		border-right: none;
	}

	&__item{
		color: $color-grey-mid;

		&:hover{
			color: $color-grey;
		}
	}
	
	&__item--active{
		margin: 0 10px;
	}
}