.post {
    &-actions {
        display: flex;
        align-items: center;
        // margin-bottom: 24px;
    }
    &-action {
        margin-right: 36px;
        display: inline-flex;
        align-items: center;
        color: $greyLight;
        cursor: pointer;
        transition: color .3s;
        font-size: 1.5rem;
        line-height: 27px;
        &:hover {
            color: $black;
        }
        @include screen(small) {
            margin-top: 4px;
            margin-bottom: 4px;
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-action-icon {
        height: 27px;
        width: 27px;
        margin-right: 12px;
        svg {
            height: 100%;
            width: 100%;
            fill: #c4c4c4;
        }
        &--comment {
            height: 24px;
            width: 24px;
            @include screen(small) {
                height: 21px;
                width: 21px;
            }
        }
        &--liked {
            svg {
                fill: $googleRed;
            }
        }
        @include screen(small) {
            margin-right: 8px;
            height: 24px;
            width: 24px;
        }
    }
    &-share {
        @include screen(small) {
            display: flex;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        .post & {
            @include screen(small) {
                position: fixed;
            }
        }
    }
    &-share-item {
        display: inline-flex;
        margin-left: -5px;
        height: 36px;
        width: 48px;
        font-size: 1.6rem;
        justify-content: center;
        align-items: center;
        background-color: lighten($black, 24%);
        color: white;
        .icon {
            height: 18px;
            width: 18px;
            fill: white;
            svg {
                height: 100%;
                width: 100%;
            }
        }
        &:first-child {
            border-radius: 3px 0 0 3px;
        }
        &:last-child {
            border-radius: 0 3px 3px 0;
        }
        @include screen(small) {
            margin-left: 0;
            width: 25%;
            flex-grow: 1;
            border-radius: 0;
            height: 48px;
            margin: 0;
            &:first-child,
            &:last-child {
                border-radius: 0;
            }
        }
        &--twitter {
            background-color: $twitterBlue;
            border-color: $twitterBlue;
        }
        &--facebook {
            background-color: $facebookBlue;
            border-color: $facebookBlue;
        }
        &--pinterest {
            background-color: $googleRed;
            border-color: $googleRed;
        }
    }
}

.post-action--delete:hover {
    // color: $color-google-red;
}
