.post-excerpt{
	width: 100%;
	margin-bottom: 25px;
	padding: 30px;
	position: relative;

	@include screen(tiny){
		padding: 20px 15px 64px;
		border-left: none;
		border-right: none;
	}

	&__title{
		font-size: 2.8rem;
		line-height: 1.2;
		font-weight: bold;
		margin-bottom: 15px;
		color: $color-black;
		@include transition(.3s);

		.post-excerpt--sm &{
			font-size: 1.6rem;
			font-weight: normal;
			margin-bottom: 0;
			line-height: 1.4;
			font-family: $alternate-font;
			color: $color-black-alt;
		}

		.profile-posts &{
			color: $color-black-alt;
		}

		.post-excerpt:hover &{
			color: $color-black;
		}

		@include screen(tiny){
			font-size: 2.4rem;
			color: $color-black;
		}
	}

	&__img{
		width: 100%;
		height: auto;
		border-radius: 3px;
		margin-bottom: 10px;
		object-fit: cover;
		object-position: center;

		min-height: 100px;
		background-color: #eee;

		.post-excerpt--sm &{
			max-height: 150px;
			margin-bottom: 5px;
			// border-radius: 0;
		}
	}

	&__author, &__delete{
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #ddd;
		width: 100%;

		font-family: $alternate-font;

		@include screen(tiny){
			width: auto;
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__author-img{
		height: 30px;
		width: 30px;
		object-fit: cover;
		object-position: center;
		border-radius: 3px;
		margin-right: 10px;
	}

	&__author-name{
		color: $color-purple;
		font-size: 1.4rem;
		font-weight: 500;
		font-family: $regular-font;
	}

	&__footer{
		color: $color-grey;
		font-size: 1.4rem;
		flex-flow: wrap;
		font-family: $alternate-font;
		align-items: center;
	}

	&--sm{
		padding: 20px;
		box-shadow: none;
		margin-bottom: 0px;
	}
}


