.post {
    &-actions {
        display: flex;
        align-items: center;
        @include screen(small) { 
            margin-bottom: 12px;
        }
        @include screen(custom, max, 400) { 
            padding: 8px 0;
            margin-bottom: 0px;
        }
    }
    &-action {
        margin-right: 36px;
        color: $greyLight;
        cursor: pointer;
        transition: color .3s;
        font-size: 1.6rem;
        display: table;
        line-height: 0;
        height: auto;
        span {
            display: table-cell;
            vertical-align: middle;
        }
        svg {
            transition: all .3s
        }
        &:hover {
            color: $grey;
            svg {
                fill: $grey;
            }
        }
        @include screen(small) {
            margin-right: 0;
            &:first-child,
            &--margin-right {
                margin-right: 24px;
            }
        }
    }
    &-action-text {
        padding-left: 8px;
        padding-top: 2px;
    }
    &-action-icon {
        height: 27px;
        width: 27px;
        margin-right: 12px;
        @include screen(small) {
            margin-right: 12px;
            height: 24px;
            width: 25px;
        }
        svg {
            height: 100%;
            width: 100%;
            fill: #c4c4c4;
        }
        &--comment {
            height: 24px;
            width: 24px;
            @include screen(small) {
                height: 23px;
                width: 23px;
            }
        }
        &--liked {
            svg {
                fill: $googleRed;
            }
        }
    }
}




