.sidebar {
    width: 330px;
    display: block;
    @include screen(custom, max, 1000) {
        display: none;
    }
    &__section {
        margin-bottom: 25px;
        &--card {
            background-color: white;
            border: 1px solid $borderColor;
            padding-bottom: 12px;
            padding-top: 4px;
            border-radius: 3px;
        }
        &--ad{
            padding: 16px 0;
        }
        &--wrap{
            padding: 24px 24px 0;
        }
    }
    &--has-margin-top {
        margin-top: 25px;
    }
}

.subscribe-form {
    padding: 25px 20px;
    &__title {
        font-size: 2.7rem;
        font-weight: bold;
        line-height: 36px;
        margin-bottom: 14px;
    }
    &__subtitle {
        line-height: 24px;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
}
