.u-flex{
	display: flex;
}

.u-inline-block{
	display: inline-block;
}

.u-space-between{
	justify-content: space-between;
}

.u-center-align{
	justify-content: center;
}

.u-vertical-align{
	align-items: center;
}