.u-space-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.u-flex{
	display: flex;
	flex-flow: row wrap;
}

.u-float-left {
	float: left;
	@include screen(custom, max, 1000) {
		float: none;
		margin: auto;
	}
}

.u-float-right {
	float: right;
}